.mapdiv {
	width: 50%;
	margin: auto;
}

.mapdiv path {
	stroke: #FFFFFF;
	stroke-width: 14px;
}

.mapdiv polygon {
	stroke: #FFFFFF;
	stroke-width: 14px;
}

.st0 {
	fill: #122E33;
	stroke:#FFFFFF;
	text-align:center;
}

.st1 {
	fill: #99BDC0;
	stroke:#FFFFFF;
}

.st2 {
	fill: #337C81;
	stroke:#FFFFFF;
}

.st3 {
	fill: #075C62;
	stroke:#FFFFFF;
}

.st4 {
	fill: #F1F2F2;
	stroke:#FFFFFF;
	font-family: 'Noto Sans',sans-serif;
   	font-size: 12px;
}

.st5 {
	font-family: 'Noto Sans',sans-serif;
   	font-size: 12px;
}

.st6 {
	font-family: 'Noto Sans',sans-serif;
   	font-size: 12px;
}

.st7 {
	font-family: 'Noto Sans',sans-serif;
   	font-size: 12px;
	fill: #414042;
}

#bcregion a:hover .st0, #bcregion a:active .st0, #bcregion a:focus .st0, #bcregion a:hover .st1, #bcregion a:active .st1, #bcregion a:focus .st1, #bcregion a:hover .st2, #bcregion a:active .st2, #bcregion a:focus .st2, #bcregion a:hover .st3, #bcregion a:active .st3 , #bcregion a:focus .st3 {
	fill: #FA4F56;
}

.table th, td {
	border: 1px solid black;
}
